@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap');

@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
}

.hero-text{
  font-family: 'Prata', 'sans-serif';
}

a.active div {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::-webkit-scrollbar{
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: #000;
    color: #fff;
  }
}